---
layout: layouts/base.html
---

<section class="hero is-medium" style="background: url( https://files.facepunch.com/matt/1b0411b1/Platformer%20Citizen%203%281%29.jpg ) center center; background-size:cover;">
    <div class="hero-body">
        <div class="container is-max-tablet">
            <p class="title is-2 has-text-centered-mobile">Hi, I'm a Programmer 👋🏻</p>
            <div class="box has-text-centered-mobile">
                <p>I work on s&box with the creators of Rust and Garry's Mod, with 5 years of experience programming in the games industry.</p>
                <br />
                <p>I've previously worked with Respawn Entertainment on Apex Legends.</p>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <p class="title has-text-centered">Projects I've worked on</p>
        {% include 'components/project_list.njk' %}
    </div>
</section>

<footer>
    <div class="columns is-centered is-mobile">
        <a href="https://www.linkedin.com/in/tonyjuniorferguson/">
            <div class="column is-narrow">
                <i class="title fa-brands fa-linkedin"></i>
            </div>
        </a>
    
        <a href="https://github.com/devultj">
            <div class="column is-narrow">
                <i class="title fa-brands fa-github"></i>
            </div>
        </a>
    
        <a href="https://x.com/devultj">
            <div class="column is-narrow">
                <i class="title fa-brands fa-x-twitter"></i>
            </div>
        </a>
    
        <a href="https://steamcommunity.com/devultj">
            <div class="column is-narrow">
                <i class="title fa-brands fa-steam"></i>
            </div>
        </a>
    </div>

    <div class="content has-text-centered">
        Website made by me, using <a href="https://bulma.io">bulma.io</a>
    </div>
</footer>
