<div class="grid">
    {% for post in collections.project %}

    <!-- stinky code dot com -->
    {% if post.data.external %}
    <a href="{{ post.data.external }}">
    {% else %}
    <a href="{{ post.url }}">
    {% endif %}
        <div class="notification">
            <div class="columns is-vcentered">
                <div class="column is-narrow">
                    <figure class="image is-4by3 is-128x128">
                        <img
                        src="{{ post.data.logo }}"
                        alt="Placeholder image"
                        />
                    </figure>
                </div>

                <div class="column is-hidden-mobile">
                    <p class="title">{{ post.data.title }}</p>
                    <p class="subtitle">{{ post.data.dev }}</p>
                </div>
            </div>
        </div>
    </a>

    {% endfor %}
</div>
