<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ '/css/main.css' | url }}" media="screen" />
        <script src="https://kit.fontawesome.com/65b498d108.js" crossorigin="anonymous"></script>
        <title>Tony Ferguson</title>
    </head>
    <body>
        <section class="section">
            <div class="columns is-mobile is-centered is-vcentered">
                <div class="column is-narrow">
                    <figure class="image is-64x64">
                        <img class="is-rounded" src="/assets/img/me.jpg">
                    </figure>
                </div>
                <div class="column is-narrow">
                    <span class="title">Tony Ferguson</span><br>
                </div>
            </div>
        </section>

        {{ content }}
    </body>
</html>