---
layout: layouts/base.html
---

<div class="tabs is-toggle is-toggle-rounded is-centered">
    <ul>
        <li><a href="/">Home</a></li>

        {% for post in collections.project %}
            {% if post.data.external %}
            
            <li>
                <a href="{{ post.data.external }}">
                    <span>{{ post.data.title }}</span>
                    <span class="icon">
                        <i class="fas fa-arrow-up-right-from-square" aria-hidden="true"></i>
                    </span>
                </a>
            </li>

            {% else %}
            <li>
                <a href="{{ post.url }}">{{ post.data.title }}</a>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
  </div>

{% if cover %}
<section class="hero is-large" style="background: url('{{ cover }}') center center; background-size:cover;">
{% else %}
<section class="hero is-large">
{% endif %}
    <div class="hero-body">
        <div class="container"> 
            <p class="title dark">{{ title }}</p>
            <p class="subtitle dark">{{ desc }}</p>

            <div class="columns is-centered is-vcentered ml-2">
                
                {% if devlogo %}
                <figure class="image is-32x32">
                    <img src="{{ devlogo }}" />
                </figure>
                {% endif %}

                <div class="column is-vcentered">
                    <h3>{{ dev }}</h2>
            
                    {% if devwebsite %}
                        <p class="title">{{ devwebsite }}</p>
                    {% endif %}
                </div>
              </div>
        </div>
        
    </div>
</section>

<section class="section">
    <div class="container">
        {{ content | safe }}
    </div>
</section>
